<template name="AccountAndClassCards">
 <!--
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
-->
    {{#if currentUser}}
        {{#if isTeacher}}
            {{#each class}}
                <div class="account-and-classcards">
                    <div class="col-md-4 col-sm-5 col-xs-6">
                        <div class="thumbnail card">
                            <div class="caption">
                                {{> ClassCard}}
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/if}}
        {{#if isAdmin}}
            {{#each account}}
                <div class="account-and-classcards">
                    <div class="col-md-4 col-sm-5 col-xs-6">
                        <div class="thumbnail card">
                            <div class="caption">
                                {{> AccountCard}}
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    {{/if}}
</template>
