div.account-and-classcards div.card {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

div.account-and-classcards a.title {
  color: white;
  font-weight: bold;
}

div.account-and-classcards img.dice {
  height: 75%;
  width: 80%;
  position: relative;
  margin-top: 85px;
  margin-bottom: 85px;
  vertical-align: middle;
  background-color: white;
  padding-top: 0px;
}

div.account-and-classcards div.caption, div.card {
  padding-top: 0px;
}

div.account-and-classcards button.card-button {
    position: fixed;
    background-color: white;
    border: 1px solid #41ffed;
    padding: 5px 10px;
}

div.account-and-classcards div.card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 200px;
}

div.account-and-classcards div.account-and-classcards:hover {
    /*background-color: #006551;*/
    /*color: #e1e1e1;*/

}

div.account-and-classcards div.change-background {
    background-color: #006551;
}

div.account-and-classcards .text-opacity {
  color: white;
  opacity: 0.6;
}

div.account-and-classcards p {
    line-height: 14px;
    height: 25%;
}
