<template name="StudentList">
    {{#each this.students}}

        <tr>
            <td role="button" data-toggle="modal" data-target="#editModal" class="editclass text-center">{{studentNumber}}</td>
            <td role="button" data-toggle="modal" data-target="#editModal" class="editclass text-center">{{fullname}}</td>
            <td role="button" data-toggle="modal" data-target="#editModal" class="editclass text-center">{{nickname}}</td>
            <td role="button" data-toggle="modal" data-target="#editModal" class="editclass text-center">{{section}}</td>
            <td role="button" data-toggle="modal" data-target="#editModal" class="editclass text-center">{{points}}</td>
            <td role="button" data-toggle="modal" data-target="#editModal" class="editclass text-center">{{bias}}</td>
            <td role="button" data-toggle="modal" data-target="#editModal" class="editclass text-center">{{isBlackListed}}</td>
            <td><button class="Delete center-block">x</button></td>
        </tr>
    {{/each}}


</template>
