<template name="StudentList">
    {{#each this.students}}
        
                <tr  >
                <!-- <tr> -->
            
            <td role="button" data-toggle="modal" data-target="#editModal" class="editclass">{{studentNumber}}</td>
            <td role="button" data-toggle="modal" data-target="#editModal" class="editclass">{{fullname}}</td>
            <td role="button" data-toggle="modal" data-target="#editModal" class="editclass">{{nickname}}</td>
            <td role="button" data-toggle="modal" data-target="#editModal" class="editclass">{{points}}</td>
            <td role="button" data-toggle="modal" data-target="#editModal" class="editclass">{{bias}}</td>
            <td role="button" data-toggle="modal" data-target="#editModal" class="editclass">{{isBlackListed}}</td>
            <td><button class="Delete">x</button></td>
        </tr>
    {{/each}}


</template>
