<template name="CardType">
    <div class="account-body-header">
        {{#if currentUser}}
            <h4  class="accntype">{{ dataType }}</h4>
        {{/if}}

        <div class="icon-divs">
            {{#if currentUser}}
                {{#if isAdmin }}
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#new-accnt">
                    <span class="glyphicon glyphicon-plus" > </span>  <label> Add user  </label>
                    </button>
                {{/if}}
            {{/if}}
            
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="new-accnt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content admin">
                {{> NewAccount}}
            </div>
        </div>
    </div>
</template>
