<template name="CardType">
    <div class="account-body-header">
        {{#if currentUser}}
        <h6  class="accntype">{{ dataType }}</h6>
        {{/if}}
        <div class="icon-divs">
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-plus" ></span>
            </button>
            <button type="button" class="btn btn-link">
            <span class="glyphicon glyphicon-th-large"></span>
            </button>
            <button type="button" class="btn btn-link">
            <span class="glyphicon glyphicon-align-justify"> </span>
            </button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{#if currentUser}}
                    {{> DynamicTemplate template=getTemplate}}
                {{/if}}
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</template>