div.account-header h1,h6.account-header{
    text-align: center;
    line-height:14px;
}
div.account-header h1{
}
div.account-header{
    margin-top: -30px;
    padding-top: 30px;
    width: 100%;
    height: 280px;
    background-color: #8fa6b1;
    float: left;
}
div.account-header div.teacherPic{
    border-radius: 50% !important;
    margin: auto;
    width: 100px;
    height: 100px;
    background: #009688;
}
 div.account-header div.teacherPic:hover{
  /*margin: auto;  */
    width: 150px;
    height: 150px;
    margin-top: -5px;
    padding-bottom: -10px;
}

