<template name="cardType">
    <div class="account-body-header">
        <h6>Classes</h6>
        <div class="icon-divs">
            <button type="button" class="btn btn-link">
            <span class="glyphicon glyphicon-plus"></span>
            </button>
            
            <button type="button" class="btn btn-link">
            <span class="glyphicon glyphicon-th-large"></span>
            </button>
            <button type="button" class="btn btn-link">
            <span class="glyphicon glyphicon-align-justify"></span>
            </button>
            
        </div>
    </div>
</template>