<template name="ViewTeacherAccount">
    <div class="view-teacher-account">
        <div class="view-teacher-account-header" id="acchead">
            <div class="teacherAccPic"> </div>
            <h3> Reginald Recario</h3>
            <h6> @regrecario</h6>
            <h6> Teacher Account</h6> 
            <div class="options-right">
                <button type="button" class="btn btn-link"> <span class="glyphicon glyphicon-plus"></span> </button>
                <button type="button" class="btn btn-link"> <span class="glyphicon glyphicon-th-large"></span> </button>
                <button type="button" class="btn btn-link"> <span class="glyphicon glyphicon-align-justify"></span> </button>
            </div>
        </div>
        <div class="view-teacher-account-body">
            <!-- insert account cards here -->
            {{#if loadCourses}} 
                {{> AccountAndclassCards}} 
            {{/if}} 
        </div>
    </div>
</template>