<template name="randomizerWindow">
    <div class="randomizer-window">
        <div class="filter-panel">
            {{> filterPanel}}
        </div>
        <div class="randomizer-main">
            <div class="main1">
                <h3>Names</h3>
                <ul>
                    {{#each this.students}}
                        <li>{{fullname}}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="main2">
            </div>
        </div>
    </div>
</template>