div.randomizer-main {
    width: 69%;
    float: right;
    height: 100%;
    margin-top: -27px;
    background-color: #e0e6e9;
    position: relative;

}

div.main1 {
    width: 100%;
    height: 380px;
    float: left;
    overflow: auto;
}

div.main2 {
    margin-top:20px;
    width: 100%;
    height: 300px;
    float: left;
}

div.filter-panel {
    position: fixed;
    background-color: #8fa6b1;
    height: 620px;
    overflow-y: scroll; 
    width: 25%;
    margin-top: -27px;
    float: left;
}


button#randomizer-button {
    /*padding-left: 250px;*/
    position: absolute;
  top: 390px;
  left: 45%;

    /*height: 100%;*/
    /*float: left;*/
}

div.names {
    background-color: #e0e6e9;
    height: 350px;
    width: 100%;
    float: left;
    padding: 35px;
    float: left;
}

div.results {
    padding: 35px;
    background-color: #e0e6e9;
    height: 300px;
    width: 100%;
    float: left;
}

table#students-list-table tbody {
  height: 300px;
  overflow-y: auto;
  width: 100%;
}

table#randomizer-result-table tbody {
  height: 100px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}

table#students-list-table tbody td, table#students-list-table thead > tr > th,
table#randomizer-result-table tbody td, table#randomizer-result-table thead > tr > th  {
  float: left;
  border-bottom-width: 0;
}





@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}

