.randomizer-main {
    background-color: #e0e6e9;
    width: 78%;
    float: left;
    height: 100%;
}

body {
    background-color: #e0e6e9;
}

.main1{
    width: 100%;
    height: 400px;
    float: left;
    margin-top: 70px;
    background-color: #e0e6e9;
}

.main2 {
    width: 100%;
    height: 300px;
    float: left;
    background-color: #e0e6e9;
}

.filter-panel {
    background-color: #8fa6b1;
    height: 720px;
    width: 280px;
    float: left;
    margin-top: 70px;
}

#randomize-button {
    margin-left: 57px;
    margin-bottom: 20px;
    background-color: #16a085;
    border-color: #16a085;
}

.dropdown, h4, .radio, #bias-checkbox, #blacklist-checkbox {
    margin-left: 20px;
}

.names {
    background-color: #e0e6e9;
    height: 350px;
    width: 100%;
    float: left;
    padding: 35px;
    float: left;
}

.results {
    padding: 35px;
    background-color: #e0e6e9;
    height: 300px;
    width: 100%;
    float: left;
}

.table-fixed thead {
  width: 100%;
}
.names .row .panel-default .table-fixed tbody {
  height: 300px;
  overflow-y: auto;
  width: 100%;
}

.results .row .panel-default .table-fixed tbody {
  height: 100px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}

.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}


