/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
div.cardType{
    z-index: 10px;
}

div.home div.cardType{
    width: 100%;
    height: 100%;
    float: left;
}
