/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
.home {
	padding-top: 105px;
}

div.cardType{
    z-index: 10px;
}

div.home div.cardType{
    width: 100%;
    height: 100%;
    float: left;
}

@media (min-width:768px) and (max-width:990px) {  
/*@media only screen and (min-width: 768px) {*/
    /* For desktop: */    
    div.home div.main-window {        
        margin: auto -20px auto 90px;
        /*top right bottom left*/
    }
}
