<template name="Home">
	<div class="home">
		<!-- {{> AccountHeader }} -->
		<div class="cardType">
			{{> CardType }}
		</div>
		<div class="mainWindow">
			{{> AccountAndClassCards}}
		</div>
		<div>
			<ul class="pager">
				<li class="{{prevPageClass}}">
					<a id="prevPage" href="{{prevPage}}">
						<span aria-hidden="true">&larr;</span> Previous
					</a>
				</li>
				<li class="{{nextPageClass}}">
					<a id="nextPage" href="{{nextPage}}">
						Next <span aria-hidden="true">&rarr;</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</template>