<template name="studentInfo">
    <!--<div class="student">-->
        
            <td name="studentNumber" value="{{studentNumber}}">{{studentNumber}}</td>
            <td name="fullname" value="{{fullname}}">{{fullname}}</td>
            <td name="nickname" value="{{nickname}}">{{nickname}}</td>
            <td name="points" value="{{points}}">{{points}}</td>
            <td name="bias" value="{{bias}}">{{bias}}</td>
            <td name="isBlackListed" value="{{isBlackListed}}">{{isBlackListed}}</td>
            <td name="classID" value="{{_id}}"><button class="delete">X</button>
            <td name="section" value="{{section}}"></td>
            <td name="birthday" value="{{birthday}}"></td>
            </td>
    <!--</div>-->
</template>
