<template name="header">
<!--Navbar is static, so lagi lang siyang nasa taas.-->
  <nav class="navbar navbar-inverse navbar-static" id="header">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button class="btn btn-primary navbar-btn navbar-left outline" id="sidebar-toggle"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
      <p class="navbar-text"><a href="#" class="navbar-link">Dashboard</a></p>
    </div>
    </div><!-- /.container-fluid -->
  </nav>
</template>