<template name="sideBar">
  <div id="wrapper" class="toggled">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                </li>
                <li>
                    <a href="/">Account Name</a>
                </li>
                <li>
                    <a href="/second">Profile</a>
                </li>
                <li>
                    <a href="/">Classes</a>
                </li>
            </ul>
        </div>
    </div>
    <!--Navbar for every page
    For further editing pa ng properties kasi medyo bland-->
    {{> header}}
</template>
