<template name="SideBar">
<div id="wrapper">
    <div id="sidebar-wrapper">
     <div class="teacherPic">
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-brand"></li>
            <li>
                {{#if currentUser}}
                <label>Logged in as: {{ username }}</label>
                <label>{{ accountType }} account</label>
                {{/if}}
            </li>
            <li> <a href="/">profile</a> </li>
            <li>
                {{#if currentUser}}
                <a href="/">{{ dataType }}</a>
                {{/if}}
            </li>
        </ul>
    </div>
</div>
<!--Navbar for every page
For further editing pa ng properties kasi medyo bland-->
{{> Header}}
</template>