<template name="StudentListView">
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 sub-header">
            <h1 class="pull-left">CMSC 128
            <h3 class="pull-right">Number of Students: 123</h3>
            <p id="course-title">Introduction to Software Engineering</p>
            </h1>
        </div>

        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="modal-full-name"></h4>
                <h5 id="modal-std-no"></h5>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="nickname" class="control-label">Nickname:</label>
                    <input type="text" class="form-control" id="modal-nickname">
                  </div>
                  <div class="form-group">
                    <label for="course" class="control-label">Course:</label>
                    <input type="text" class="form-control" id="modal-course">
                  </div>
                  <div class="form-group">
                    <label for="college" class="control-label">College:</label>
                    <input type="text" class="form-control" id="modal-college">
                  </div>
                  <div class="input-group spinner">
                    <label for="bias" class="control-label">Bias:</label>
                    <input type="text" class="form-control" id="modal-bias" max="100" min="0">
                   <div class="input-group-btn-vertical">
                    <button class="btn btn-default up" type="button">
                      <span class="dropup">
                        <i class="caret center-block"></i>
                      </span>
                    </button>
                    <button class="btn btn-default down" type="button"><i class="caret center-block"></i></button>
                   </div>
                  </div>
                  <div class="row blacklist">
                   <div class="col-lg-6">
                    <div class="input-group">
                    <span class="input-group-addon">
                     <input type="checkbox" aria-label="...">
                    </span>
                    <button class="btn btn-default" type="button">Blacklisted</button>
                   </div>
                 </div>
               </div>


                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group-sm col-xs-4 col-sm-3 col-md-2">
            <input type="text" class="form-control" placeholder=" Search"> </div>
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sort by <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li class="menu"><a href="#">Student Number</a></li>
                <li class="menu"><a href="#">Full Name</a></li>
                <li class="menu"><a href="#">Nickname</a></li>
                <li class="menu"><a href="#">Course</a></li>
                <li class="menu"><a href="#">College</a></li>
                <li class="menu"><a href="#">Points</a></li>
                <li class="menu"><a href="#">Bias</a></li>
                <li><a href="#">Blaclisted</a></li>
            </ul>
        </div>
        <table class="table table-striped table-hover col-xs-12 col-sm-12 col-md-12" id="student-table">
            <thead>
                <tr>
                    <th>Student Number</th>
                    <th>Full Name</th>
                    <th>Nickname</th>
                    <th>Course</th>
                    <th>College</th>
                    <th>Points</th>
                    <th>Bias</th>
                    <th>Blacklisted</th>
                </tr>
            </thead>
            <tbody>
                <tr role="button" data-toggle="modal" data-target="#editModal">
                    <td>2015-12345</td>
                    <td>Juan dela Cruz</td>
                    <td>Juan</td>
                    <td>BS CS</td>
                    <td>CAS</td>
                    <td>0</td>
                    <td>100%</td>
                    <td>No</td>
                </tr>
                <tr role="button" data-toggle="modal" data-target="#editModal">
                    <td>2015-12346</td>
                    <td>Juana dela Cruz</td>
                    <td>Mary</td>
                    <td>BS DevCom</td>
                    <td>CDC</td>
                    <td>19</td>
                    <td>15%</td>
                    <td>Yes</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
