<template name="StudentListView">

<div class=" col-md-8 col-md-offset-2">
    <div class="col-xs-12 col-sm-12 col-md-12 sub-header">
      <div class="col-md-7 col-sm-7 col-xs-7">
        <h1 id="course-code">{{courseCode}}</h1>
        <h4 id="course-title">{{courseTitle}}</h4>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-1">
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 add-student">
        <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#add-student">
          <span class="glyphicon glyphicon-plus"> </span> Add Student
        </button>
        <h4 class="pull-right">Number of Students: {{students.length}}</h4>
      </div>
    </div>

    <div class="form-group-sm col-xs-4 col-sm-3 col-md-2">

       </div>

        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sort by <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li class="menu"><a href="#">Student Number</a></li>
                <li class="menu"><a href="#">Full Name</a></li>
                <li class="menu"><a href="#">Nickname</a></li>
                <li class="menu"><a href="#">Course</a></li>
                <li class="menu"><a href="#">College</a></li>
                <li class="menu"><a href="#">Points</a></li>
                <li class="menu"><a href="#">Bias</a></li>
                <li><a href="#">Blaclisted</a></li>
            </ul>
        </div>

        <div id="table">
            {{> reactiveTable collection=this.students settings=tableSettings}}
        </div>

    </div>
    <!--modal-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="modal-full-name"></h4>
                    <h5 id="modal-std-no"></h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group tooltip-select">
                            <label for="nickname" class="control-label">Nickname:</label>
                            <input type="text" class="form-control" id="modal-nickname">
                            <span class="tooltip">
                            <span class="tootltip-text">Change the nickname of the student</span>
                          </span>
                        </div>
                        <div class="form-group tooltip-select">
                            <label for="section" class="control-label">Section:</label>
                            <input type="text" class="form-control" id="modal-section">
                            <span class="tooltip">
                            <span class="tootltip-text">Change the section of the student</span>
                          </span>
                        </div>
                        <div class="form-group tooltip-select col-md-2 col-sm-2 col-xs-2">
                            <label for="bias" class="control-label">Bias:</label>
                            <input type="number" class="form-control" id="modal-bias" max="100" min="0">
                            <span class="tooltip">
                            <span class="tootltip-text">Increase/decrease the chances of a student being called</span>
                          </span>
                        </div>
                        <div class="row blacklist tooltip-select">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="checkbox" class="blacklisted-check" aria-label="...">
                                    </span>
                                    <button class="btn btn-default blacklisted" type="button">Blacklisted</button>
                                </div>
                                <span class="tooltip">
                                <span class="tootltip-text">If a student is blacklisted, he/she wont be chosen by the randomizer</span>
                              </span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!--modal-->
    <!--modal add student-->
    <div class="modal fade" id="add-student" tabindex="-1" role="dialog" aria-labelledby="addstudentmodal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add student</h4>
                    <h4 id="modal-full-name"></h4>
                    <h5 id="modal-std-no"></h5>
                </div>
                <div class="modal-body">
                    <form class="addStudentForm">
                        <!-- form for student information -->
                        <div class="form-group">
                            <label class="control-label" for="fullname">Full name</label>
                            <div class="controls">
                                <input name="fullname" id="fullname" type="text" value="" placeholder="Full name" class="form-control" /> </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="studentNumber">Student Number</label>
                                <div class="controls">
                                    <input name="studentNumber" id="studentNumber" type="text" value="" placeholder="Student Number" class="form-control" /> </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="nickname">Nickname</label>
                                    <div class="controls">
                                        <input name="nickname" id="nickname" type="text" value="" placeholder="Nickname" class="form-control" /> </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="birthday">Birthday</label>
                                        <div class="controls">
                                            <input name="birthday" id="birthday" type="date" value="" placeholder="Birthday" class="form-control" /> </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="section">Section</label>
                                            <div class="controls">
                                                <input name="section" id="section" type="text" value="" placeholder="Section" class="form-control" /> </div>
                                            </div>
                                            <input type="submit" value="Add Student" class="btn btn-primary" />
                                        </form>
                                        <!-- end of student form -->

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--modal-->
                        </template>
