table.table td table.table th {
    text-align: center;
}

p#course-title {
    position: absolute;
}

div.sub-header {
    margin-bottom: 5%;
    margin-top: 100px;
}

li.menu {
  margin-bottom: -30px;
}
