.background {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: lightblue;
	background-size: cover;
}

#bigcircle {
	border-radius: 50%;
	background-image: url("/13001262_1172287736128620_8391246164034799721_n.jpg");
	background-size: 328px;
	background-position: center;
	width: 250px;
	height: 250px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -80%);
	text-align: center;
	line-height: 200px;
}

#login-div {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 200%);
}

#sign-up-div {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 540%);
}

@-webkit-keyframes fadeIn {
	from { opacity:0; }
	to { opacity:1; }
}

@-moz-keyframes fadeIn {
	from { opacity:0; }
	to { opacity:1; }
}

@keyframes fadeIn {
	from { opacity:0; }
	to { opacity:1; }
}

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;

}

.fade-in.logo {
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

.fade-in.login-btn {
	border-radius: 0px !important;
	background: white;
	font-size: 20px;
	padding: 12px;
	width: 150px;

	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.fade-in.login-btn:hover {
	background: lightblue;
}

.fade-in.sign-up {
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.fade-in.sign-up p {
	font-size: 16px;
}
