div.index{
	padding-top: 90px;
    background: #18bc9c;
    color: #fff;
    width: 100%;
    height: 100%;
}

div.index h4.intro-text{
	text-align: center;
	display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

div#bigcircle{
	color: pink;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}


