<template name="filterPanel">
    <div id="filter-tab">
        <ul class="nav nav-tabs">
            <li class="active" id="filter-li"><a class="active" data-toggle="tab" href="#n-volunteers"><h5>N Volunteers</h5></a></li>
            <li id="filter-li-groupings"><a data-toggle="tab" href="#groupings"><h5>Groupings</h5></a></li>
        </ul>
        <div class="tab-content">
            <div id="n-volunteers" class="tab-pane fade in active">
                <div id="select-no">
                    <h5>Number of students: <input type="number" name="quantity" min="1" max="100" id="nStudent"></h5>
                </div>
                <div id="by-section">
                    <h5>Sections: <label class="radio-inline"><input type="radio" name="optradio" id="selectAll">Select All</label>
                    <label class="radio-inline"><input type="radio" name="optradio" id="custom">Custom</label></h5>
                    <label class="checkbox-inline"><input type="checkbox" value="" id="section1l" class="labSection">1-L</label>
                    <label class="checkbox-inline"><input type="checkbox" value="" id="section2l" class="labSection">2-L</label>
                    <label class="checkbox-inline"><input type="checkbox" value="" id="section3l" class="labSection">3-L</label>
                    <label class="checkbox-inline"><input type="checkbox" value="" id="section4l" class="labSection">4-L</label><br>
                    <label class="checkbox-inline"><input type="checkbox" value="" id="section5l" class="labSection">5-L</label>
                    <label class="checkbox-inline"><input type="checkbox" value="" id="section6l" class="labSection">6-L</label>
                    <label class="checkbox-inline"><input type="checkbox" value="" id="section7l" class="labSection">7-L</label>
                    <label class="checkbox-inline"><input type="checkbox" value="" id="section8l" class="labSection">8-L</label>
                </div>
                <div id="select-by">
                    <h5>Select by:
                        <select class="select-by-dropdown">
                            <option><div class="select-by-sex">Sex</div></option>
                            <option><div class="select-by-batch">Batch</div></option>
                        </select>
                    </h5>
                    <div class="tab-content">
                        <div class="sex-choices">
                            <label class="radio-inline"><input type="radio" name="optradio" class="sex-choice" id="male-sex" value="Male">Male</label>
                            <label class="radio-inline"><input type="radio" name="optradio" class="sex-choice" id="female-sex" value="Female">Female</label>
                        </div>
                        <div class="batch-choices">
                            <span><label class="radio-inline"><input type="radio" name="optradio" id="selectAllBatch">Select All</label>
                            <label class="radio-inline"><input type="radio" name="optradio" id="customBatch">Custom</label></span><br>
                            <label class="radio-inline"><input type="checkbox" name="optradio" id="2010" class="batch">2010</label>
                            <label class="radio-inline"><input type="checkbox" name="optradio" id="2011" class="batch">2011</label>
                            <label class="radio-inline"><input type="checkbox" name="optradio" id="2012" class="batch">2012</label><br>
                            <label class="radio-inline"><input type="checkbox" name="optradio" id="2013" class="batch">2013</label>
                            <label class="radio-inline"><input type="checkbox" name="optradio" id="2014" class="batch">2014</label>
                            <label class="radio-inline"><input type="checkbox" name="optradio" id="2015" class="batch">2015</label><br>
                        </div>
                        <hr>
                        <div class="filtered-attributes-sex"></div>
                        <div class="filtered-attributes-batch"></div>
                    </div>
                    <br>
                </div>
                <div id="bias-blacklist">
                    <label class="checkbox-inline"><input type="checkbox" value="">Bias</label><br>
                    <label class="checkbox-inline"><input type="checkbox" value="">Blacklist</label>
                </div>
            </div>

            <div id="groupings" class="tab-pane fade">
                <div id="select-no">
                    <h5>Number of groups: <input type="number" name="quantity" min="1" max="100"> </h5>
                </div>
                <div id="select-no">
                    <h5>Number of members per group:  <input type="number" name="quantity" min="1" max="100"></h5>
                </div>
                <div id="by-section">
                    <h5>Sections: <label class="radio-inline"><input type="radio" name="optradio" id="selectAll">Select All</label>
                    <label class="radio-inline"><input type="radio" name="optradio" id="custom">Custom</label></h5>
                    <label class="checkbox-inline"><input type="checkbox" value="" id="section1l" class="labSection">1-L</label>
                    <label class="checkbox-inline"><input type="checkbox" value="" id="section2l" class="labSection">2-L</label>
                    <label class="checkbox-inline"><input type="checkbox" value="" id="section3l" class="labSection">3-L</label>
                    <label class="checkbox-inline"><input type="checkbox" value="" id="section4l" class="labSection">4-L</label><br>
                    <label class="checkbox-inline"><input type="checkbox" value="" id="section5l" class="labSection">5-L</label>
                    <label class="checkbox-inline"><input type="checkbox" value="" id="section6l" class="labSection">6-L</label>
                    <label class="checkbox-inline"><input type="checkbox" value="" id="section7l" class="labSection">7-L</label>
                    <label class="checkbox-inline"><input type="checkbox" value="" id="section8l" class="labSection">8-L</label>
                </div>
                <div id="select-by">
                    <h5>Select by:
                        <select class="select-by-dropdown">
                            <option><div class="select-by-sex">Sex</div></option>
                            <option><div class="select-by-batch">Batch</div></option>
                        </select>
                    </h5>
                    <div class="tab-content">
                        <div class="sex-choices">
                            <label class="radio-inline"><input type="radio" name="optradio" class="sex-choice" id="male-sex" value="Male">Male</label>
                            <label class="radio-inline"><input type="radio" name="optradio" class="sex-choice" id="female-sex" value="Female">Female</label>
                        </div>
                        <div class="batch-choices">
                            <span><label class="radio-inline"><input type="radio" name="optradio" id="selectAllBatch">Select All</label>
                            <label class="radio-inline"><input type="radio" name="optradio" id="customBatch">Custom</label></span><br>
                            <label class="radio-inline"><input type="checkbox" name="optradio" id="2010" class="batch">2010</label>
                            <label class="radio-inline"><input type="checkbox" name="optradio" id="2011" class="batch">2011</label>
                            <label class="radio-inline"><input type="checkbox" name="optradio" id="2012" class="batch">2012</label><br>
                            <label class="radio-inline"><input type="checkbox" name="optradio" id="2013" class="batch">2013</label>
                            <label class="radio-inline"><input type="checkbox" name="optradio" id="2014" class="batch">2014</label>
                            <label class="radio-inline"><input type="checkbox" name="optradio" id="2015" class="batch">2015</label><br>
                        </div>
                        <hr>
                        <div class="filtered-attributes-sex"></div>
                        <div class="filtered-attributes-batch"></div>
                    </div>
                    <br>
                </div>
                <div id="bias-blacklist">
                    <label class="checkbox-inline"><input type="checkbox" value="">Bias</label><br>
                    <label class="checkbox-inline"><input type="checkbox" value="">Blacklist</label>
                </div>
            </div>
        </div>
    </div>
</template>    



