div#filter-tab {
    height: 100%;
    background-color: #8fa6b1;
}


li#filter-li {
    background-color: #8fa6b1;
    width: 50%;
}

div#select-no {
    background-color: white;
    height: 100%;
    width: 92%;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    border: 1px;
    border-radius: 5px;

} 

div#by-section, div#select-by, div#bias-blacklist,
div#select-bu-content, div#select-by-sex, div#select-by-batch{
    background-color: white;
    height: 100%;
    width: 92%;
    padding: 10px;
    margin: 10px;
    border: 1px;
    border-radius: 5px;
}

.sex-choices {
    display: none;
}

.batch-choices {
    display: none;
}

select.select-by-dropdown {
    height: 30px;
}

