<template name="filterPanel">
	<!--<div id="wrapper">
        <div id="sidebar-wrapper">-->
		    <div id="filter-tab">
		        <ul class="nav nav-tabs">
		 			<li class="active" id="filter-li"><a class="active" data-toggle="tab" href="#n-volunteers"><h5>N Volunteers</h5></a></li>
		  			<li id="filter-li"><a data-toggle="tab" href="#groupings"><h5>Groupings</h5></a></li>
				</ul>
				<div class="tab-content">
		  			<div id="n-volunteers" class="tab-pane fade in active">
			    		<div id="select-no">
			    			<h5>Number of students: <input type="number" name="quantity" min="1" max="100"></h5>
			    		</div>
		    			<div id="by-section">
		    				<h5>Sections: <label class="radio-inline"><input type="radio" name="optradio" id="selectAll">Select All</label>
		    				<label class="radio-inline"><input type="radio" name="optradio" id="custom">Custom</label></h5>
		    				<hr>
		    				<label class="checkbox-inline"><input type="checkbox" value="">1L</label>
							<label class="checkbox-inline"><input type="checkbox" value="">4L</label>
							<br>
							<label class="checkbox-inline"><input type="checkbox" value="">2L</label>
							<label class="checkbox-inline"><input type="checkbox" value="">5L</label>
							<br>
							<label class="checkbox-inline"><input type="checkbox" value="">3L</label>
							<label class="checkbox-inline"><input type="checkbox" value="">6L</label>
		    			</div>
		    			<div id="select-by">
		    				<h5>Select by:
		    					<select id="select-by-dropdown">
		    						<option><a href="#sex-choices" class=nav nav-tabs>Sex</a></option>
		    						<option><a href="#batch-choices" class=nav nav-tabs>Batch</a></option>
		    					</select>
		    				</h5>
		    				<hr>
		    				<div class="tab-content">
		    				<div id="sex-choices">
		    					<label class="radio-inline"><input type="radio" name="optradio">Male</label>
		    					<label class="radio-inline"><input type="radio" name="optradio">Female</label>
		    				</div>
		    				<div id="batch-choices">
		    					<label class="radio-inline"><input type="radio" name="optradio">2010</label>
			    				<label class="radio-inline"><input type="radio" name="optradio">2011</label>
			    				<label class="radio-inline"><input type="radio" name="optradio">2012</label><br>
			    				<label class="radio-inline"><input type="radio" name="optradio">2013</label>
			    				<label class="radio-inline"><input type="radio" name="optradio">2014</label>
			    				<label class="radio-inline"><input type="radio" name="optradio">2015</label><br>
			    				<label class="radio-inline"><input type="radio" name="optradio">Others</label>
		    				</div>
		    				</div>	
		    				<br>
		    			</div>
		    			<div id="bias-blacklist">
		    				<label class="checkbox-inline"><input type="checkbox" value="">Bias</label><br>
							<label class="checkbox-inline"><input type="checkbox" value="">Blacklist</label>
		    			</div>
		  			</div>

		  			<div id="groupings" class="tab-pane fade">
		    			<div id="select-no">
			    			<h5>Number of groups: <input type="number" name="quantity" min="1" max="100"> </h5>
			    			<hr></div>
		    			<div id="select-no">
			    			<h5>Number of members</h5>
			    			<h5>per group:  <input type="number" name="quantity" min="1" max="100"></h5>
			    			<hr></div>
		    			<div id="by-section">
		    				<h5>Section: <label class="radio-inline"><input type="radio" name="optradio">Select All</label>
		    				<label class="radio-inline"><input type="radio" name="optradio">Custom</label></h5>
		    				<hr>
		    				<label class="checkbox-inline"><input type="checkbox" value="">1L</label>
							<label class="checkbox-inline"><input type="checkbox" value="">4L</label>
							<br>
							<label class="checkbox-inline"><input type="checkbox" value="">2L</label>
							<label class="checkbox-inline"><input type="checkbox" value="">5L</label>
							<br>
							<label class="checkbox-inline"><input type="checkbox" value="">3L</label>
							<label class="checkbox-inline"><input type="checkbox" value="">6L</label>
		    			</div>
		    			<div id="select-by">
		    				<h5>Select by:
		    					<select id="select-by-dropdown">
		    						<option><a href="#sex-choices" class=nav nav-tabs>Sex</a></option>
		    						<option><a href="#batch-choices" class=nav nav-tabs>Batch</a></option>
		    					</select>
		    				</h5>
		    				<hr>
		    				<div class="tab-content">
		    				<div id="sex-choices">
		    					<label class="radio-inline"><input type="radio" name="optradio">Male</label>
		    					<label class="radio-inline"><input type="radio" name="optradio">Female</label>
		    				</div>
		    				<div id="batch-choices">
		    					<label class="radio-inline"><input type="radio" name="optradio">2010</label>
			    				<label class="radio-inline"><input type="radio" name="optradio">2011</label>
			    				<label class="radio-inline"><input type="radio" name="optradio">2012</label><br>
			    				<label class="radio-inline"><input type="radio" name="optradio">2013</label>
			    				<label class="radio-inline"><input type="radio" name="optradio">2014</label>
			    				<label class="radio-inline"><input type="radio" name="optradio">2015</label><br>
			    				<label class="radio-inline"><input type="radio" name="optradio">Others</label>
		    				</div>
		    				</div>	
		    				<br>
		    			</div>
						<div id="bias-blacklist">
		    				<label class="checkbox-inline"><input type="checkbox" value="">Bias</label><br>
							<label class="checkbox-inline"><input type="checkbox" value="">Blacklist</label>
						</div>
		    		</div>
				</div>
		    </div>
	<!--	</div>
	</div>	  -->  
</template>    



