<template name="filterPanel">
   
<div id="filterPanel" class="container">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#volunteers"> N Volunteers </a></li>
		<li><a data-toggle="tab" href="#grouping"> Grouping </a></li>
	</ul>
	
	<div class="tab-content">
		<div id="volunteers" class="tab-pane fade in active">
			<div id="numberOfVolunteers">
				Number of Volunteers: <input type="number" id="input-number-of-volunteers" name="input-number" ><br>
			</div>
			<br><br>
			Select from:
			<select>
				<option value="allstudents">All students</option>
				<option value="Section">Section</option>
				<option value="newpool">New Pool</option>
			</select>
			
			<br><br><br><br><br>
			<input type="checkbox" name="Bias" value="Bias">Bias
			<input type="checkbox" name="Blacklist" value="Blacklist">Blacklist
			<br><br><br><br><br><br>
			<button name="Randomize" id="Randomize">Randomize</button>
		</div>
		
		<div id="grouping" class="tab-pane fade">
			<div id="numberOfVolunteers">
				Number of Volunteers: <input type="number" id="input-number" name="input-number" ><br>
			</div>
			<p style="font-weight: bold; padding-left: 27px">Section:</p>
			<div id="sections">
				<input type="radio" name="sectionChoice" id="selectAll"> Select All 
				<input type="radio" name="sectionChoice" id="custom"> Custom <br /><br />
				<span id="labSections">
					<input type="checkbox" name="labSection" class="labSection"> 1L 
					<input type="checkbox" name="labSection" class="labSection"> 2L 
					<input type="checkbox" name="labSection" class="labSection"> 3L <br />
					<input type="checkbox" name="labSection" class="labSection"> 4L 
					<input type="checkbox" name="labSection" class="labSection"> 5L 
					<input type="checkbox" name="labSection" class="labSection"> 6L 
				</span>
			</div>
		</div>
		<br><br>
		Select by:
		<select>
			<option value="Default">Default</option>
			<option value="Gender">Gender</option>
			<option value="Batch">Batch</option>
			<option value="Points">Points</option>
		</select>
		
		<br><br><br><br><br>
		<input type="checkbox" name="Bias" value="Bias">Bias
		<input type="checkbox" name="Blacklist" value="Blacklist">Blacklist
		<br><br><br><br><br><br>
		<button name="Randomize" id="Randomize">Randomize</button>
	</div>
</div>
</template>
