<template name="ClassCard">
  <div class="row table-row">
    <a href="{{pathFor route='RandomizerWindow'}}">
    <div class="shake col-md-3 col-sm-3 col-xs-3">
     <img src="/dice.png" alt="dice" class="dice center-block"/>
    </div>
  </a>
        <div class="account-and-classcards col-md-9 col-sm-9 col-xs-9">
        <h3 id="thumbnail-label">

        <span class="dropdown">
            <span class="dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-option-vertical pull-right"></span>
            </span>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <li id="menu"><a data-toggle="modal" data-target="#admin-modal-editclass">Edit card details</a></li>
                <li id="menu"><a href="{{pathFor route='StudentListView'}}">Modify student list</a></li>
            </ul>
        </span>


        <a href="#" class="title">{{courseCode}}</a>

        </h3>
        <p>
          {{courseTitle}}
        </p>
        <button type="button" class="btn btn-default btn-circle btn-lg pull-right" onclick="window.location.href='{{pathFor route='StudentListView'}}'">
          <span class="text-center">{{ students.length }}</span>
        </button>
        <h4 class="students pull-right">Students</h4>
    </div>
  </div>

  <div class="modal fade" id="admin-modal-editclass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content admin">
            {{>EditClass classId=_id}}
        </div>
    </div>
   </div>
</template>
