<template name="LoginForm">
      <div class="container" id="login-form">
      <span class="glyphicon glyphicon-refresh" id="login-logo"></span>
            <form class="form-inline" id="login-frm">
              <div class="form-group">
                <label class="sr-only" for="textinput">Email address</label>
                <input type="text" name="username" class="form-control" id="textinput" placeholder="Username">
              </div>
              <div class="form-group">
                <label class="sr-only" for="passwordinput">Password</label>
                <input type="password" name="password" class="form-control" id="passwordinput" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary" id="submit-button">Sign in</button>
            </form>
            
      </div>
</template>
