<template name="ViewTeacherAccount">
    <div class="view-teacher-account col-md-8 col-md-offset-2">
        <div class="view-teacher-account-header " id="acchead">
            <!-- <div class="teacherAccPic"></div> -->
            <h3> {{ profile.fullName }} </h3>
            <h6> {{ username }}</h6>
            <h6> {{ profile.type }} Account</h6>
            <div class="options-right">

                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#admin-modal"> <span class="glyphicon glyphicon-plus"></span> </button>
                <button type="button" class="btn btn-link"> <span class="glyphicon glyphicon-th-large"></span> </button>
                <button type="button" class="btn btn-link"> <span class="glyphicon glyphicon-align-justify"></span> </button>

            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="admin-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
             <div class="modal-dialog" role="document">
                 <div class="modal-content admin">
                     <!-- {{#if currentUser}}
                     {{> DynamicTemplate template=getTemplate}}
                     {{/if}} -->
                     {{> AdminModal}}
                 </div>
             </div>
        </div>
        <div class="view-teacher-account-body">
            <!-- insert account cards here -->
            <div class="main-window">
            {{> AccountAndClassCards}}
            </div>
        </div>
    </div>
</template>
