<template name="ViewTeacherAccount">
    <div class="view-teacher-account col-md-8 col-md-offset-2">
        <div class="view-teacher-account-header " id="acchead">
            <!-- <div class="teacherAccPic"></div> -->
            <h3> {{ profile.fullName }} </h3>
            <h6> {{ username }}</h6>
            <h6> {{ profile.type }} Account</h6>
             <button type="button" class="btn btn-link" data-toggle="modal" data-target="#update-details-modal"> Edit User
        <!-- <button type="button" class="btn btn-link" > -->

        <span class="glyphicon glyphicon-plus-md" > </span>
       
        </button>
            <div class="options-right">
                <button type="button" class="btn btn-link"> <span class="glyphicon glyphicon-plus"></span> </button>
                <button type="button" class="btn btn-link"> <span class="glyphicon glyphicon-th-large"></span> </button>
                <button type="button" class="btn btn-link"> <span class="glyphicon glyphicon-align-justify"></span> </button>
            </div>
        </div>
        <div class="view-teacher-account-body">
            <!-- insert account cards here -->
            <div class="main-window">
            {{> AccountAndClassCards}}
            </div>
        </div>
    </div>



  <!-- Modal -->
    <div class="modal fade" id="update-details-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content admin">
                <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Add subject</h4>
</div>
<div class="modal-body">
        <h1>Add Class</h1>
        <form class="add class form">
            <!-- form portion for course information -->
            <div class="form-group">
                <label class="control-label" for="fullname">Full Name</label>
                <div class="controls">
                    <input name="fullname" id="fullname" type="text" value="{{profile.fullName}}" placeholder="Full Name" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="emailadd">Email Address</label>
                <div class="controls">
                    <input name="emailadd" id="emailadd" type="email" value="{{emails.verified}}" placeholder="Email Address" class="form-control" />
                </div>
            </div>
            <input type="submit" value="Save" class="btn btn-primary" />
        </form>
    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <!-- <button type="submit" class="btn btn-primary">Add Class</button> -->
</div>
                
            </div>
        </div>
    </div>
</template>
