/*****************************************************************************/
/* Notifications: Style */
/*****************************************************************************/

.notifications {
    position: fixed;
    z-index: 10000;
    padding: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}
