<template name="AccountAndclassCards">
    {{#each data}}
        <div class="account-and-classcards">
            <div class="col-md-4 col-sm-5 col-xs-6">
                <div class="thumbnail card">
                    <div class="caption">
                        {{#if determineUser }}
                            {{>classCard}}
                        {{else}}
                            {{>accountCard}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</template>
