<template name="accountCard">
    <div class="accountAndclassCards">
        <h3 id="thumbnail-label">
        
        <a href="{{pathFor route='viewTeacherAccount'}}">{{name}}</a>
        <a class="anchorjs-link" href="#thumbnail-label"></a>
        <span>
            <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-th-large pull-right"></span>
            </span>
            <ul class="dropdown-menu pull-right">
                <li><a href="#">Delete Account</a></li>
                <li><a href="#">Deativate account</a></li>
            </ul>
        </span>
        <h6>{{username}}</h6>
        <h6>{{acounttype}}</h6>
        <h6>Admin account</h6>        
        
        </h3>
    </div>
</template>