<template name="ClassCard">
    <div class="account-and-classcards">
        <h3 id="thumbnail-label">
        {{courseCode}}
        <a class="anchorjs-link" href="#thumbnail-label"></a>
        <span>
            <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-th-large pull-right"></span>
            </span>
            <ul class="dropdown-menu pull-right">
                <li><a href="{{pathFor route='StudentListView'}}">Modify student list</a></li>
            </ul>
        </span>
        </h3>
        <p>{{courseTitle}}</p>
        <a href="{{pathFor route='RandomizerWindow'}}">randomizerWindow</a>
        <button class="pull-right card-button">{{ studentCount }}</button>
    </div>
</template>
